{% extends "main.html" %}
{% block content %}
{% include "header.html" %}   
<div class="col-md-12 content-page">
    <div class="col-md-12 edit_content">
        <h1 class="title">Edit Item:</h1>
        <form action="/catalog/{{item.id}}/edit" method = 'post'>
            <h3>Name:</h3>
                <input class="name_input" type ='text' size='30' name='name' placeholder = '{{item.title}}'>
            <h3>Description:</h3>
                <textarea class="description_text" rows="4" cols="50" name="description"  placeholder = '{{item.description}}'></textarea>
            <h3>Catagory</h3>
            <select class="option_input" name="catagories_section">
                {%for categoryList in catagories%}
                <option value="{{categoryList}}" >{{categoryList}}</option>
                {%endfor%}
            </select>
            <div >
                <button type="submit" value='Edit' class="btn btn-primary btn-md button_edit">Save</button>
                <a class="btn btn-primary btn-md" href="/catalog/{{item.catagories_id}}/{{item.id}}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}