{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="col-md-12 content-page">
    <div class="col-md-12 item_content">
        <h1 class="title">{{items.title}}</h1>
        <p class="description">Description:</p>
        <p>{{items.description}}</p>
        <div class="buttons_edit_delete">
            <a href = "{{ url_for('editCatalogItem',id=items.id)  }}">Edit Item</a>
            <a>|</a>
            <a href = "{{ url_for('deleteCatalogItem',id=items.id)  }}">Delete Item</a>
            <a>|</a>
            <a href = "{{ url_for('showCatagories',catagories_id=catagories.id)  }}">Back to Home</a>
        </div>
    </div>
</div>
{% endblock %}